<footer class="lc-footer">
    <div class="container">
        <div class="lc-product">
            <a href="http://lesschat.com" target="_blank"><img src="https://lesschat.com/image/shared/logo_full.png" alt="纷云"/></a>
            <p class="lead lead-content">Worktile是简单好用的团队沟通协作平台，你可以使用Webhook把团队使用的一切工具和服务都集成到Worktile中。</p>
            <p class="lead"><a href="http://lesschat.com" target="_blank" class="btn btn-lg btn-outline-inverse"><i class="fa fa-hand-o-right"></i>现在就去体验</a></p>
        </div>
        <div class="lc-copyright">
            <span>© 2015 Made with <i class="fa fa-heart"></i> by <a href="https://worktile.com" target="_blank">Worktile</a></span>
        </div>
    </div>
</footer>
