<header class="navbar lc-header" ng-controller="headerCtrl">
    <div class="container">
        <a href="/" class="navbar-brand">Request</a>


        <div class="dropdown lc-history pull-right">
            <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                历史记录
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="request in requests">
                    <a href="/{{request.id}}/inspect"><i ng-style="{'background':request.color}"></i>{{request.id}} <span>({{request.count}})</span></a>
                </li>
                <li ng-if="requests.length == 0" class="empty">
                    <span>暂时还没有历史记录</span>
                </li>
            </ul>
        </div>
        <a href="https://github.com/lesschat/request" target="_blank" class="lc-project pull-right">Worktile社区项目</a>
    </div>
</header>
