<main class="lc-masthead">
    <div class="container">
        <p class="lead lead-content">
            Worktile Request提供一个地址可以接收任何HTTP请求，并把结果展现出来，用于审查HTTP客户端发送的内容或Webhook调试。
        </p>
        <p class="lead lead-btn">
            <a href="/create" class="btn btn-lg btn-outline-inverse"><i class="fa fa-plus-circle"></i>生成URL地址</a>
        </p>
    </div>
</main>
<div class="lc-feature">
    <div class="container">
        <h2 class="lc-feature-title">为HTTP、Webhook场景而设计的调试工具</h2>
        <div class="row">
            <div class="col-sm-4 lc-feature-item">
                <i class="fa fa-code"></i>
                <p>简单直观、友好阅读的展示方式</p>
            </div>
            <div class="col-sm-4 lc-feature-item">
                <i class="fa fa-history"></i>
                <p>保存历史，随时查看请求历史记录</p>
            </div>
            <div class="col-sm-4 lc-feature-item">
                <i class="fa fa-github"></i>
                <p>完全开源，可以在github上关注我们</p>
            </div>
        </div>
    </div>
</div>
