<!DOCTYPE html>
<html ng-app="lcReqApp">
<head>
    <title><%= (locals.title || "") + " - " + locals.config.title %></title>
    <link rel="stylesheet" type="text/css"
          href="<%=locals.config.enableCompression ? '/dist/main.min.css':'/dist/main.css'%>?v=<%=locals.config.version%>">
    <link rel="Shortcut Icon" href="/favicon.ico">
</head>
<body ng-cloak="">

<%-include shared/header.html%>

<%- body %>

<%-include shared/footer.html%>

<script src="/dist/lc-request<%=locals.config.enableCompression ? '.min' : ''%>.js"></script>
</body>
</html>